<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bandtec.searchdevelopers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_dev"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_dev_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SearchDevelopers"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PainelActivity"
            android:exported="true" />
        <activity
            android:name=".Avaliacao"
            android:exported="true" />
        <activity
            android:name=".activities.pagamento.PagamentoActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.SearchDevelopers.NoActionBar" />
        <activity
            android:name=".activities.pagamento.CadastroCartaoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.FinishCadastro"
            android:exported="true" />
        <activity
            android:name=".activities.login.CadastroActivity"
            android:exported="true" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>